<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pravasi Dharshan.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C54B9E481D0EB1EB0058A0BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C54B9E5C1D0EB1EC0058A0BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C54B9E671D0EB1EC0058A0BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
